mux/game/bin/dbconvert
*.so
*.o
*.data
*.log
*.status
autoconf.h
Makefile
mux/game/bin/netmux
mux/game/bin/slave
mux/src/netmux
mux/src/slave
mux/src/tools/announce
mux/src/unsplit
mux/src/.vs/*
*.so~
*.vcxproj.user
*.pid
mux/src/modules/x64/*
mux/src/x64/*
mux/src/packages/*
mux/src/netmux~
UpdateLive
mux/src/Hotmake
*.db
*.dir
*.pag
*.db.*
