mux/game/bin/dbconvert
*.so
mux/src/.depend
*.o
*.data
*.log
*.status
autoconf.h
Makefile
mux/game/bin/netmux
mux/game/bin/slave
mux/src/netmux
mux/src/slave
mux/src/tools/announce
mux/src/unsplit
mux/src/.vs/*
*.so~
*.vcxproj.user
mux/game/data/*
!mux/game/data/.gitattributes
!mux/game/data/db_check
!mux/game/data/db_load
!mux/game/data/db_load.bat
!mux/game/data/db_unload
!mux/game/data/db_unload.bat
!mux/game/data/netmux.db
*.pid
mux/src/modules/x64/*
mux/src/x64/*
mux/src/packages/*
mux/src/netmux~

